* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #44C088;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#app > h1 {
  text-align: center;
  border: 2px solid white;
  padding: 20px;
}